/* Start Brand carousel*/
.box-brand{
    width: 97%;
    height: 80px;
    background: white;
    
  }

  .img-brand{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
/* End Brand carousel */